@charset "utf-8";
#select
{
width:100%;
height:46px;
padding-top:10px;
margin-bottom:100px;
background:#008bd3;
-moz-box-shadow: 10px 10px 5px #888888; /* 老的 firefox */
box-shadow: 10px 10px 5px #888888;
}
#main{
-moz-box-shadow: 10px 10px 5px #888888; /* 老的 firefox */
box-shadow: 10px 10px 5px #888888;
margin:auto;
height:450px;
width:85%;
border:1px solid #ccc;
padding :10px;
}
#main1,#main2,#main3,#main4,#main5,#main6,#main7,#main8{
-moz-box-shadow: 10px 10px 5px #888888; /* 老的 firefox */
box-shadow: 10px 10px 5px #888888;
margin:auto;
height:420px;
width:85%;
border:1px solid #ccc;
padding :10px;
}
body {font-family:微软雅黑; font-size:13px;}

.menu {background-color:#008bd3;border-bottom:1px solid #d7d7d7; }
.menu ul {margin:0px; padding:0px; list-style:none; text-align:center;}
.menu li {display:inline; line-height:23px;}
.menu li a {color:#ffffff; text-decoration:none; padding:5px 5px 6px 5px; }
.menu li a.tabactive {border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#000000; background-color:#ffffff; font-weight:bold;  position:relative;}
#tabcontent1,#tabcontent2,#tabcontent3,#tabcontent4,#anothercontent1,#anothercontent2, #anothercontent3, #anothercontent4,#anothercontent5, #anothercontent6 {border:1px solid #ececec; text-align:center;padding:6px 0px; font-size:12px; margin-bottom:5px;}


ul,li{margin:0;padding:0;}
li{ list-style:none; }
#smenu{width:880px;height:30px;padding:0 10px;background:#008bd3; float:right;}
#smenu ul{ width:880px;float:right; display:inline;}
#smenu ul li{ width:86px;float:right; }
#smenu ul li a{width:86px;height:30px;float:right; font-size:15px; text-align:center; line-height:30px; color:#fff; text-decoration:none;}
#smenu ul li a:hover{color:#d7d7d7}



.content {
	height: 777px; position: relative; margin: 0px auto; width: 1400px
}
#header {
	position: absolute; margin-left: 200px; z-index: 999;  width: 1020px
}
#header .nav {
	float: right; margin-top: 10px; width: 815px
}
#header .nav ul .mainlevel {
	 float: left; padding-left: 2px; line-height: 33px
}
* html .nav ul .mainlevel {
	background: 0px 0px; position: relative
}

#header .nav ul {
	display: table
}

#header .nav ul li .nav-a {
	font-size: 13px; height: 33px;  color: #ffffff; padding-bottom: 0px; padding-top: 0px; padding-left: 20px; text-decoration: none; display: inline-block; line-height: 33px; padding-right: 20px
}
#header .nav ul li .nav-a:hover {
	height: 33px; color: #d7d7d7; padding-bottom: 0px; padding-top: 0px; padding-left: 20px; line-height: 33px; padding-right: 20px
}
#header .nav ul li.first-crl {
	background: 0px 0px
}
#header .nav ul li.first-crl .nav-a {
	height: 38px;  padding-left: 45px
}
#header .nav ul li.first-crl .nav-a .current {
	height: 38px;  padding-left: 45px
}
#header .nav ul li.first-crl .nav-a:hover {
	height: 38px; padding-left: 45px
}
#header .nav ul li.end-crl .nav-a {
	height: 38px;  padding-right: 45px
}
#header .nav ul li.end-crl .current.nav-a {
	height: 38px;  padding-right: 45px
}
#header .nav ul li.end-crl .nav-a:hover {
	height: 38px;  padding-right: 45px
}
.mainlevel div {
	height: 85px;  position: absolute; padding-bottom: 15px; padding-top: 15px; padding-left: 20px; display: none; top: 43px; padding-right: 20px; width: 440px
}
#sub_01 {
	left: 230px
}
#sub_02 {
	left: 326px
}
#sub_03 {
	left: 420px
}
#sub_04 {
	left: 515px
}
#sub_05 {
	right: 320px
}
#sub_06 {
	right: 225px
}
#sub_07 {
	right: 131px
}
#sub_08 {
	right: 21px
}
.mainlevel div ol {
	overflow: hidden; float: left; display: block; width: 240px
}
.mainlevel div li {
	border-bottom: #cccccc 1px dashed; line-height: 28px; width: 300px
}
.mainlevel div li a {
	height: 28px; color: #3b3b3b; padding-left: 10px; display: inline-block; line-height: 28px; width: 79px
}
.mainlevel div li a:hover {
	color: #172053
}
.mainlevel div .nav-img {
	float: right; display: inline-block
}
.mainlevel div span img {
	border-top: #ffffff 3px solid; border-right: #ffffff 3px solid; border-bottom: #ffffff 3px solid; border-left: #ffffff 3px solid
}
ol {
	padding-bottom: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; padding-right: 0px
}
ul {
	padding-bottom: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; padding-right: 0px
}
li {
	padding-bottom: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; padding-right: 0px
}
div {
	padding-bottom: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; padding-right: 0px
}
li {
	list-style-type: none; overflow: hidden
}