@CHaRSET "UTF-8";
#select
{
width:100%;
height:45px;
padding-top:10px;
margin-bottom:80px;
background:#008bd3;
-moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
box-shadow: 10px 10px 5px #888888;
}
#main{
-moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
box-shadow: 10px 10px 5px #888888;
margin:auto;
}
#main1,#main2,#main3,#main4,#main5,#main6,#main7,#main8{
-moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
box-shadow: 10px 10px 5px #888888;
margin:auto;
}
body {font-family:微软雅黑; font-size:11px;}
/*Example for a Menu Style*/
.menu {background-color:#008bd3;border-bottom:1px solid #d7d7d7; }
.menu ul {margin:0px; padding:0px; list-style:none; text-align:center;}
.menu li {display:inline; line-height:23px;}
.menu li a {color:#ffffff; text-decoration:none; padding:5px 5px 6px 5px; }
.menu li a.tabactive {border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#000000; background-color:#ffffff; font-weight:bold;  position:relative;}
#tabcontent1,#tabcontent2,#tabcontent3,#tabcontent4,#anothercontent1,#anothercontent2, #anothercontent3, #anothercontent4,#anothercontent5, #anothercontent6 {border:1px solid #ececec; text-align:center;padding:6px 0px; font-size:12px; margin-bottom:5px;}


ul,li{margin:0;padding:0;}
li{ list-style:none; }
#smenu{width:880px;height:30px;padding:0 10px;background:#008bd3; float:right;}
#smenu ul{ width:880px;float:right; display:inline;}
#smenu ul li{ width:86px;float:right; }
#smenu ul li a{width:86px;height:30px;float:right; font-size:13px; text-align:center; line-height:30px; color:#fff; text-decoration:none;}
#smenu ul li a:hover{color:#d7d7d7}



.content {
	HEIGHT: 777px; POSITION: relative; MaRGIN: 0px auto; WIDTH: 1400px
}
#header {
	POSITION: absolute; MaRGIN-LEFT: 200px; Z-INDEX: 999;  WIDTH: 1020px
}
#header .nav {
	FLOaT: right; MaRGIN-TOP: 10px; WIDTH: 815px
}
#header .nav ul .mainlevel {
	 FLOaT: left; PaDDING-LEFT: 2px; liNE-HEIGHT: 33px
}
* HTML .nav ul .mainlevel {
	BaCKGROUND: 0px 0px; POSITION: relative
}

#header .nav ul {
	DISPLaY: table
}
#header .nav ul li .nav-a {
	FONT-SIZE: 13px; HEIGHT: 33px;  ColOR: #ffffff; PaDDING-BOTTOM: 0px; PaDDING-TOP: 0px; PaDDING-LEFT: 20px; TEXT-DECORaTION: none; DISPLaY: inline-block; liNE-HEIGHT: 33px; PaDDING-RIGHT: 20px
}

#header .nav ul li .nav-a:hover {
	HEIGHT: 33px;  ColOR: #d7d7d7; PaDDING-BOTTOM: 0px; PaDDING-TOP: 0px; PaDDING-LEFT: 20px; liNE-HEIGHT: 33px; PaDDING-RIGHT: 20px
}
#header .nav ul li .nav-a {
	FONT-SIZE: 13px; HEIGHT: 33px;  ColOR: #ffffff; PaDDING-BOTTOM: 0px; PaDDING-TOP: 0px; PaDDING-LEFT: 20px; TEXT-DECORaTION: none; DISPLaY: inline-block; liNE-HEIGHT: 33px; PaDDING-RIGHT: 20px
}
#header .nav ul li .nav-a:hover {
	HEIGHT: 33px; ColOR: #d7d7d7; PaDDING-BOTTOM: 0px; PaDDING-TOP: 0px; PaDDING-LEFT: 20px; liNE-HEIGHT: 33px; PaDDING-RIGHT: 20px
}
#header .nav ul li.first-crl {
	BaCKGROUND: 0px 0px
}
#header .nav ul li.first-crl .nav-a {
	HEIGHT: 38px;  PaDDING-LEFT: 45px
}
#header .nav ul li.first-crl .nav-a .current {
	HEIGHT: 38px;  PaDDING-LEFT: 45px
}
#header .nav ul li.first-crl .nav-a:hover {
	HEIGHT: 38px; PaDDING-LEFT: 45px
}
#header .nav ul li.end-crl .nav-a {
	HEIGHT: 38px;  PaDDING-RIGHT: 45px
}
#header .nav ul li.end-crl .current.nav-a {
	HEIGHT: 38px;  PaDDING-RIGHT: 45px
}
#header .nav ul li.end-crl .nav-a:hover {
	HEIGHT: 38px;  PaDDING-RIGHT: 45px
}
.mainlevel div {
	HEIGHT: 85px;  POSITION: absolute; PaDDING-BOTTOM: 15px; PaDDING-TOP: 15px; PaDDING-LEFT: 20px; DISPLaY: none; TOP: 43px; PaDDING-RIGHT: 20px; WIDTH: 430px
}
#sub_01 {
	LEFT: 230px
}
#sub_02 {
	LEFT: 326px
}
#sub_03 {
	LEFT: 420px
}
#sub_04 {
	LEFT: 515px
}
#sub_05 {
	RIGHT: 320px
}
#sub_06 {
	RIGHT: 225px
}
#sub_07 {
	RIGHT: 131px
}
#sub_08 {
	RIGHT: 21px
}
.mainlevel div ol {
	OVERFLOW: hidden; FLOaT: left; DISPLaY: block; WIDTH: 240px
}
.mainlevel div li {
	BORDER-BOTTOM: #cccccc 1px dashed; liNE-HEIGHT: 27px; WIDTH: 300px
}
.mainlevel div li a {
	HEIGHT: 27px; ColOR: #3b3b3b; PaDDING-LEFT: 10px; DISPLaY: inline-block; liNE-HEIGHT: 27px; WIDTH: 79px
}
.mainlevel div li a:hover {
	ColOR: #172053
}
.mainlevel div .nav-img {
	FLOaT: right; DISPLaY: inline-block
}
.mainlevel div span img {
	BORDER-TOP: #ffffff 3px solid; BORDER-RIGHT: #ffffff 3px solid; BORDER-BOTTOM: #ffffff 3px solid; BORDER-LEFT: #ffffff 3px solid
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	LIST-STYLE-TYPE: none; OVERFLOW: hidden
}